/* text imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

/* general styling for images and text */

* {
  box-sizing: border-box;
}

.selfie {
    width: 150px;
    border: 5px dotted #ffffff;
    border-radius: 50%;
}

h2, p, .menu {
    color: black;
}

header {
    background-color: #ffffff9a;
    font-weight: bolder;
    border-radius: 15px;
    padding: 25px;
    text-align: left;
}

/* Hover Classes for name logo */

.hoverDiv {
  position: relative;
  font-size: 45px;
  font-family: Pangolin;
  font-weight: 900;
  color: #ffffff;
}

.hoverDiv div:hover {
  color: #ffffff;
  text-shadow: 0 0.1vmin 0 #dba1a1, 0 0.2vmin 0 #d89999, 0 0.3vmin 0 #d59292,
    0 0.4vmin 0 #d28a8a, 0 0.5vmin 0 #cf8383, 0 0.6vmin 0 #cd7c7c,
    0 0.7vmin 0 #ca7474, 0 0.8vmin 0 #c76d6d, 0 0 0.5vmin rgb(230 139 139 / 5%),
    0 -0.1vmin 0.3vmin rgb(230 139 139 / 20%),
    0 0.9vmin 9vmin rgb(230 139 139 / 30%),
    0 1.2vmin 1.2vmin rgb(230 139 139 / 30%),
    0 1.5vmin 1.5vmin rgb(230 139 139 / 30%);
}

.hoverDiv {
  display: flex;
  cursor: pointer;
}

.hoverDiv div {
  color: #ffffff;
  min-width: 0.2em;
  transform: translateY(0);
  transition: transform 300ms ease-in-out, text-shadow 300ms ease-in-out,
    color 300ms ease-in-out;
  text-shadow: 0 0 0 #dba1a1, 0 0 0 #d89999, 0 0 0 #d59292, 0 0 0 #d28a8a,
    0 0 0 #cf8383, 0 0 0 #cd7c7c, 0 0 0 #ca7474, 0 0 0 #c76d6d,
    0 0 0 rgb(230 139 139 / 5%), 0 0 0 rgb(230 139 139 / 20%),
    0 0 0 rgb(230 139 139 / 30%), 0 0 0 rgb(230 139 139 / 30%),
    0 0 0 rgb(230 139 139 / 30%);
}

.hoverDiv div:hover {
  transform: translateY(-0.8vmin);
}

.menu {
    text-align: right;
}

body {
    text-align: center;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  	background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
}

/* Adds Gradient features to background */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Adds Brand Logo Images */
.fa {
    padding: 20px;
    font-size: 100px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Adds hover effect */
.fa:hover {
    opacity: 0.7;
    transition: 0.5;
  }

  /* LinkedIn */
.fa-linkedin {
    color: #0072b1;
    background: white;
  }
  
  /* Youtube */
.fa-youtube {
    color: #FF0000;
    background: white;
  }

  /* GitHub */
  .fa-github {
    color: #4078c0;
    background: white;
  }
  
/* Sets sectioning*/
  .bordered-section {
    background-color: #ffffff9a;
    align-items: center;
    border-radius: 15px;
    color: #003955;
    padding: 5px;
  }

  /* Table CSS */
  table, td, th, tr {
    font-family: 'Montserrat', sans-serif;
  }

  table, th, td {
    padding: 10px;
    border: 0.5px solid black;
    border-collapse: collapse;
  }

  th {
    text-align: left;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  /* Timeline CSS */

  ul.timeline {
    list-style-type: none;
    position: relative;
}

  ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
  
  ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

  ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ff27e28a;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
  /* footer */

  footer {
    padding: 10px;
    font-size: xx-small;
  }



/* styles for portrait viewing */  

@media only screen and (orientation: portrait) {


/* styles for landscape viewing */  

@media only screen and (orientation: landscape) {

  .fa {
    width: 200px;
    border-radius: 0;
  }

  .bordered-section {
  padding: 50px;
  }

  section {
    padding: 50px;
  }

}

/* styles specifically for screens less than 768px (most mobiles) */  

@media only screen and (min-width: 768px) {
  
  .selfie { 
    width: 300px;
    border: 5px groove #ffffff;
  }

  .hoverDiv {
    position: relative;
    font-size: 60px;
    font-family: Pangolin;
    font-weight: 900;
  }

  .fa {
    width: 200px;
    border-radius: 0;
  }

  .bordered-section {
    padding: 20px;
  }

  section {
    padding: 30px;
  }
}

}
